@model IEnumerable<TDV_Carlos.Models.Comentario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutChat.cshtml";
}

<br />

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2>
            Quejas:
        </h2>
    </div>
    <div class="panel-body">
        <div class="row col-md-12 ">
            <table class="table table-striped custab">
                <thead>
                    <tr>
                        <th>
                            Titulo:
                        </th>
                        <th>
                            Nombre del cliente:
                        </th>
                        <th>
                            Fecha de reporte:
                        </th>
                        <th>
                            Estado:
                        </th>
                        <th class="text-center">
                            Aciones:
                        </th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuarios.nombre) @Html.DisplayFor(modelItem => item.Usuarios.apellidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.fecha.Day)/@Html.DisplayFor(modelItem => item.fecha.Month)/@Html.DisplayFor(modelItem => item.fecha.Year)
                    </td>
                    @if (item.estatus == 1)
                    {
                        <td>
                            Respuesta Enviada
                        </td>
                    }
                    else
                    {
                        <td>
                            Sin Responder
                        </td>
                    }
                    <td class="text-center">
                        <a class='btn btn-success btn-xs' href="@Url.Action( "Details", new { id = item.id_cometario })"><span class="glyphicon glyphicon-eye-close"></span>Detalles</a>
                        <a class='btn btn-info btn-xs' href="@Url.Action( "Edit", new { id = item.id_cometario })"><span class="glyphicon glyphicon-edit"></span> Responder</a>
                    </td>
                </tr>
                }
            </table>
        </div>
    </div>
</div>